body{
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}
.text-ab{
    color: #DF3F1D !important;
}
.bg-alam{
    background-color: #DF3F1D;
    color: azure;
}
.bg-alam1:hover{
    background-color: #DF3F1D;
    color: azure;
}